* {
	margin: 0 !important;
	padding: 0 !important;
	box-sizing: border-box !important;
	font-family: Arial, Helvetica, sans-serif;
}

.fondo {
	background-image: url(../assets/img/fondo.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

body {
	height: 100vh;
}

header {
	height: 15vh;
	width: 100vw;
}

.logo:hover {
	opacity: 0.7;
}


.image-zoom {
transition: 0.3s;
}

.image-zoom:hover {
	transform: scale(1.1);
}

footer {
	height: 15vh;
	width: 100vw;
}

