* {
	margin: 0 !important;
	padding: 0 !important;
	box-sizing: border-box !important;
	font-family: Arial, Helvetica, sans-serif;
}

.fondo {
	background-image: url(../assets/img/fondo.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

body {
	height: 100vh;
}

header {
	height: 15vh;
	width: 100vw;
}

main {
	height: 120vh;
	width: 100vw;
}

footer {
	height: 10vh;
	width: 100vw;
}

